@page "/doubles"

<h1>Pure Doubles</h1>

<div>
    Does not include doubles that contain FE0F codes, because they are currently not supported by ENS, OpenSea or Metamask.
</div>

<PuremojisTable Title="" Filter="?filter=doubles"/>