@page "/singles"

<h1>Pure Singles</h1>
<div>
    Does not include singles that contain FE0F codes, because they are currently not supported by ENS, OpenSea or Metamask.
</div>
<PuremojisTable Title="" Filter="?filter=singles"/>